.footer {
    background-color: $additionalBackgroundColor;
    padding-top: 60px;
    padding-bottom: 60px;

    &-container {
        @media screen and (min-width: 1200px) {
            display: flex;   
            }
    }
}
.footer__adress-tumb {
justify-content: center;
}